.admin-form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding: 2rem;
	border: 1px solid rgb(173, 173, 173);
	border-radius: 1rem;
	width: 40rem;
	margin: 4rem auto;
}

.admin-form input {
	padding: .4rem;
	border-radius: .4rem;
	border: 1px solid gray;
}

.admin-form button {
	padding: 1rem;
	border: none;
	background-color: rgb(62, 38, 94);
	color: white;
	cursor: pointer;
	font-weight: bold;
	border-radius: .5rem;
}

.admin-form button:hover {
	background-color: rgb(85, 54, 126);
}

.admin-form label {
	margin-bottom: -.6rem;
}
