.modal-container {
	background-color: rgba(0, 0, 0, 0.836);
	position: fixed;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal-card {
	background-color: white;
	border-radius: 3rem;
	padding-top: 1.5rem;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	padding-bottom: 2.5rem;
	margin: 1rem;
	position: absolute;
	top: 10rem;
	min-width: 20rem;
	max-width: 50rem;
}

.modal-card p {
	margin-top: .5rem;
}

.modal-title {
	height: 2.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 1rem;
}

.modal-close {
	border: none;
	width: 3rem;
	height: 3rem;
	background-color: rgb(185, 185, 185);
	border-radius: 100%;
	cursor: pointer;
	position: absolute;
	right: 1.5rem;
}

.modal-close:hover {
	background-color: rgb(207, 207, 207);
}
